#product{
    width: 100%;
    height: auto;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}
#nav{
    background-color: rgb(11, 40, 202);
    
}
/* CSS */
#searchInput {
    width: 100%; /* Use 100% width for responsiveness */
    height: 50px;
    box-sizing: border-box; /* Include padding and border in the total width/height */
    padding: 10px; /* Add padding for better spacing */
  }
  
  /* Optional: Apply specific styling for larger screens if needed */
  @media (min-width: 768px) {
    #searchInput {
      width: 70%; /* Adjust the width for larger screens */
    }
  }
  
